@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(45deg, #FFEFD5, #FFDAB9);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  